body {
	font-family: Arial sans-serif;
	font-size: 16px;
	background:#17181b;
	color:#bcbec0;
	text-align: center;
	margin:0;
	padding:0;
}
main {
	display:block;
}
h1 {
	font-size:1.7em;
	font-weight: 200;
}
h2 {
	font-size:1em;
	font-weight: 200;
}
a {
	text-decoration: none;
	color:#bcbec0;
}
ul {
	list-style: none;
	margin:0;
	padding:0;
}
li {
	float:left;
}

/* LOGIN BOX */
#login {
	width:25em;
	margin:0 auto;
	margin-top:5em;
	color:#fff;
}
#options > label {
	text-transform: uppercase;
	display:block;
	text-align: left;
	margin-bottom:.3em;
	font-size: .8em;
}
#options > input {
	outline:0;
	border:none;
	background:#f1f1f1;
	padding:1.5em 2em;
	font-size:1em;
	font-weight: 200;
	margin-bottom:1em;
	width:100%;
	display: block;
	color:#bcbec0;
	box-shadow: 1px 1px 1px #ccc;
}
#submit {
	padding:1.5em 2.5em;
	color:#62706c;
	display: inline-block;
	margin-top: 1em;
	text-transform: uppercase;
	font-size: .8em;
	border:1px solid #C8C8C8;
	border-radius: 10px;
	background:#f1f1f1;
}





/* HEADER */
#header {
	display: none;
	background: #16171a;
	padding:1em 0 0 0;
	margin:0;
	color: #c3c5c7;
	box-shadow: 0px 6px 8px -4px rgba(0,0,0,0.9);
}
#header > #tabs {
	float:left;
}
#tabs > a {
	font-weight: 700;
	display: inline-block;
	padding:0 1em;
	padding-bottom:.5em;
	font-size: .875em;
	cursor:pointer;
}
#tabs > a.active {
	border-bottom: 4px solid #2b6ed2;
}
#tabs > a:hover {
	color:#fff;
}





/* MOVIES LIST */
#list > ul{
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
#list > ul > li {
	margin:10px;
	width:134px;
}
#list > ul > li > a > img {
	border-radius: 4px;
	box-shadow: 0px 0px 10px #000;
}
#list > ul > li > a > p {
	height: auto;
	margin: 6px 0 4px;
	color: #fff;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-bottom: 2px;
	text-align: left;
	font-size: .8em;
	font-weight: bold;
}





















/* CONTROLLER BOX */
#controller {
	width:25em;
	margin:0 auto;
	margin-top:5em;
	color:#375267;
	display: none;
}

#toolbar {
	font-size: 2rem;
	display: block;
	margin-bottom: 2em;
}
#toolbar i {
	margin:0 .5em;
}

#arrows {
	border-radius:100%;
	width:25rem;
	height:25rem;
	border:2px solid #375267; 
	position: relative;
}
#arrows i {
	font-size: 5em;
}
.fa-chevron-left {
	position:absolute;
	top:10rem;
	left:1.5rem;
}
.fa-chevron-right {
	position:absolute;
	top:10rem;
	right:1.5rem;
}
.fa-chevron-down {
	position:absolute;
	top:18.5rem;
	left:10rem;
}
.fa-chevron-up {
	position:absolute;
	top:1.5rem;
	left:10rem;
}
.center {
	display: inline-block;
	width:5rem;
	height:5rem;
	border-radius: 100%;
	background:#375267;
	position: absolute;
	top:10rem;
	left:10rem;
}